                  <div class="col-xs-12 col-sm-4">
                    <div class="z-depth-1-half mb-4 centering">
                      <img src=<%= asset_path 'book.png' %> style="border-radius: 10px; border: 2px solid #a1a4a8;">
                      <label class="btn btn-primary btn.round"> Upload Book Cover<input type="file" hidden></label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <ul class="list-group">
                    <div class="form-group">
                      <label>Book name</label>
                      <input class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Description</label>
                      <textarea class="form-control" rows="5" > </textarea>
                    </div>
                    <div class="form-group">
                      <label>Book PDF link <small>(if exists)</small></label>
                      <input class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="sel1">Book category:</label>
                      <select class="form-control" id="sel1">
                        <option>Art</option>
                        <option>Education</option>
                        <option>Business</option>
                        <option>Sport</option>
                      </select>
                    </div>
                  </ul>
                </div>
              </div>
            </div>