<header class="page-header">
  <h1 class="page-title">Add book</h1>
</header>
<div class="container">
  <div class="resume">
    <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading resume-heading">
            <div class="row">
              <div class="col-lg-12">
                <%= render 'form' %>
                <div class= "center-btn ">
                  <label class="btn btn-primary btn.round">Add Book<input type="file" hidden></label>
                </div>
              </div>  
          </div>
        </div>
      </div>    
    </div>
  </div>
</div>    