<header class="page-header" style="margin: 2px 5px;">
  <h1 class="page-title">Add book</h1>
</header>
<div class="container" style="width: 80%;">
    <div class="resume">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading resume-heading">
                    <div class="row">
                        <div class="col-lg-12">
                            <%= render 'book/form' %>
                        </div>  
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>    