<div class="mytextdiv" style="width: 1050px;">
  	<div class="mytexttitle">
  		<span style="font-size:16px; margin: 0px 5px; border: 1px solid #e7e7e7; padding: 5px 8px; border-radius: 5px; padding-left: 2px;" class="hidden-xs showopacity glyphicon glyphicon-send"></span>
    	Category  
  	</div>
  	<div class="divider"></div>
</div>
<div>
	
</div>