<%= render "shared/form_home" %>

<div class="modal" id="loginForm">
<!-- Modal content -->
  	<div class="modal-content" id="loginContent">
	    <span class="close" onclick="hideLoginForm()">
	      	&times;
	    </span>
      	<div class="loginFormContainer">
	        <div>
	          	<label for="uname" style="color: #585858"><b>Username</b></label>
	        </div>
	        <input class="loginInput" type="text" placeholder="Enter Username" name="uname" required>
	        <div>
	          	<label for="psw" style="color: #585858"><b>Password</b></label>
	        </div>
    		<input class="loginInput" type="password" placeholder="Enter Password" name="psw" required>
	        <div class="loginWrapper">
	          	<input type="checkbox" checked="checked" name="remember" class="checkBox">
	          	<label for="remember" style="color: #585858"> Remember me </label>
	        </div>
	        <div class="loginWrapper" >
	          	<button class="button loginButton" type="submit">Login</button>
	        </div>
      	</div>
  	</div>
</div>

<div class="modal" id="viewBook">
<!-- Modal content -->
  	<div class="modal-book-content" id="viewBookContent">
    	<span class="close" onclick="hideBook()">
      		&times;
    	</span>
    	<%= render "shared/form_show_book" %>
  	</div>
</div>