<div align="center" style="width: 1250px; padding: 40px 30px; margin: 0px 15px;">
    <%= form_tag("/home/search", method: "get") do %>
        <input type="hidden" name="filter" value="category"/>
        <input type="hidden" name="search" value="<%= @attribute %>" />
        <button type="button" id="category" class="btn-category" onclick="switchCategory()">
            <span>Category</span>
            <i class="fa fa-stack-exchange fa-2x" style="margin: 2px 2px;"></i>
        </button>
    <% end %>
    <% @books.each do |book| %>
        <%= render "shared/form_book", :book => book %>
    <% end %>
</div>