.page-header{
  text-align: center;    
}
textarea {
    resize: none;
}
.avatar-pic {
	width: 150px; 
}  
h1 {
    text-shadow: 0 0 4px #0068cb;
}
.btn.round {
	border-radius: 500px;
}
[hidden] {
  display: none !important;
}
.btn {
	margin-top: 20px;
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.btn-primary {
    background: #0068cb;
    color: #0068cb;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #0068cb;
}
 
.btn-primary:active, .btn-primary.active {
    background: #0068cb;
    box-shadow: none;
}
.centering {
	 text-align: center;
	 margin-top: 20px;
}
.center-btn {
	text-align: center;
}